html,
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
div.message {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 3em;
  text-align: center;
}
div.message h3 {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
}
header {
  height: 10%;
  color: #fff;
  background-color: #2c2b3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.img {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 3em;
}
header img {
  height: 90%;
}
header div.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.row input {
  padding: 3px 6px;
  font-size: 16px;
}
header div.row button {
  padding: 3px 6px;
  margin-left: 1em;
}
main {
  height: 80%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
main section h2 {
  text-align: center;
}
main section:first-child {
  border-right: 1px solid #000;
}
main section:first-child img {
  cursor: pointer;
}
main section:first-child div.row div.col:last-child {
  align-items: center;
  justify-content: center;
}
main section:first-child div.row div.col:last-child img {
  width: 80%;
  cursor: default;
}
main section:last-child div.row div.col:first-child {
  align-items: center;
  justify-content: center;
}
main section:last-child div.row div.col:first-child img {
  width: 80%;
}
main section div.row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section div.row div.col {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main section div.row div.col div.row {
  flex-direction: column;
  max-height: 20%;
}
main section div.row div.col div.row img {
  max-height: 80%;
}
footer {
  color: #fff;
  height: 10%;
  background-color: #2c2b3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  margin: 0 1em;
}
footer div.col input {
  margin: 0 1em;
}
footer div.col:last-child {
  position: absolute;
  right: 1%;
  bottom: 3.5%;
}
